.details {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 20px;
    border: 2px solid transparent;

    &__preview {
        display: flex;
        flex-direction: row;
        font-family: 'Bad Script', cursive;
        font-size: 26px;
        color: #514133;
        @include tablet {
            flex-direction: column;
            font-size: 19px;
        }
    }
    &__preview-image-container {
        position: relative;
        height: 300px;
        width: 300px;
        border-radius: 50%;
        overflow: hidden;
        @include tablet {
            margin: 0 auto;
            height: 90px;
            width: 90px;
        }
    }
    &__preview-image {
        @include absolute-transform-centering;
        height: 100%;
    }
    &__preview-text-container {
        line-height: 1.4;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    &__preview-text-container-inner {
        flex: 1;
    }
    &__preview-text {
        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }
    &__preview-text-title {
        margin-right: 8px;
    }
    &__section-content {
        font-family: 'Caveat', 'Arial', 'Helvetica', 'sans-serif';
        font-size: 24px;
        line-height: 1.3;
        @include tablet {
            font-size: 20px;
        }
    }
    &__section-title {
        font-family: 'Lobster', cursive;
        font-size: 28px;
        line-height: 1.8;
        @include tablet {
            font-size: 24px;
        }
    }
}


