.menu {
    position: fixed;
    left: 40px;
    top: 90px;

    @include tablet {
        max-width: 110px;
        left: 20px;
    }
    &__item-img-container {
        margin: 0 auto;
        position: relative;
        height: 130px;
        width: 130px;
        border-radius: 50%;
        overflow: hidden;
        transition: height .2s ease-out, width .2s ease-out;
        &:hover {
            height: 145px;
            width: 145px;
        }
        @include tablet {
            height: 75px;
            width: 75px;
            &:hover {
                height: 90px;
                width: 90px;
            }
        }
    }
    &__item-img {
        @include absolute-transform-centering;
        height: 100%;
    }
    &__item {
        text-align: center;
        &_active {
            color: #e5695b;
        }
    }
    &__item-link {
        text-decoration: none;
        color: inherit;
    }
}