$mobile-min-width: 320px;
// $mobile-max-width: 767px;
$tablet-min-width: 889px;
$tablet-max-width: 1049px;
$desktop-min-width: 890px;
$desktop-max-width: 1165px;

@mixin tablet {
  @media (min-width: $mobile-min-width) and (max-width: $tablet-min-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-min-width) and (max-width: $desktop-max-width) {
    @content;
  }
}

@mixin absolute-transform-centering {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
